body {
	font-size: 16px;
	background: #ddd;	
} 

.caja-colorzilla{
	height: 300px;
	width: 300px;
	margin: 10px auto;
	padding: 10px;
	position: relative;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+20,2989d8+50,1e5799+80&0+0,0.8+15,1+19,1+81,0.8+85,0+100;Blue+Two+Sided+Transparent */
background: -moz-linear-gradient(-45deg, rgba(30,87,153,0) 0%, rgba(30,87,153,0.8) 15%, rgba(30,87,153,1) 19%, rgba(30,87,153,1) 20%, rgba(41,137,216,1) 50%, rgba(30,87,153,1) 80%, rgba(30,87,153,1) 81%, rgba(30,87,153,0.8) 85%, rgba(30,87,153,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#001e5799',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.caja6{
	height: 300px;
	width: 300px;
	margin: 10px auto;
	padding: 10px;
	position: relative;
/*	
	background: radial-gradient(at 60px, red, black);
*/
	background: radial-gradient(100% 50% at 50% 20%, red, black);
/* para ejemplos y una herramienta de cómo editar colores ir a:

	www.colorzilla.com/gradient-editor/
*/


}

.caja0{
	height: 300px;
	width: 300px;
	margin: 10px auto;
	padding: 10px;
	position: relative;
/*	background: linear-gradient(to top right, black, red);
*/
	background: linear-gradient(50deg, black 20%, yellow, red 80%);
}

.caja{
	height: 300px;
	width: 300px;
	background: red;
	margin: 20px auto;
	border-radius: 20px 0px 50%;
}


.caja2{
	height: 300px;
	width: 300px;
	background: blue;
	margin: 20px auto;
	border-top-left-radius: 20px 100px;
	box-shadow: 20px -30px 20px 10px inset;
}
.caja3{
	height: 300px;
	width: 300px;
	background: url("../Images/737.jpeg") no-repeat center top / cover;
	margin: 20px auto;
	background-clip: content-box;
	border-radius: 50%;
	padding: 8px;
	border: 1px solid #B7ADAD;
	box-sizing: border-box;
	box-shadow: 20px -30px 5em 10px blue;	
}

.caja4{
	display: inline-block;
	background: url("../Images/737-2.jpeg") center no-repeat;
	margin: 10px;
	padding: 10px;
	height: 100px;
	width: 200px;
	position: relative;	
}

.caja4:before,
.caja4:after{
	content: "";
	width: 50%;
	height: 50%;
	background: #7777;
	position: absolute;
	left: 40px;
	bottom: 22px;
	box-shadow: 0 15px 15px #777;
	z-index: -1;
	transform: rotate(-5deg);
}
.caja4:after{
	right: 40px;
	left: auto;
	transform: rotate(5deg);
;}