html{
	font-size: 16px;
}
body{
	line-height: 1.5rem;
}

.intro{
	font-size: 1.25rem;
}

h1{
	font-size: 2.1875rem;
	background: red;
	width: 37.5rem;
	height: 3rem;

}

h2{font-size: 2rem;

}

h3{font-size: 1.75rem;}



/* trabajando con unidades relativas a la etiqueta contenedora. 

body{
	font-size: 16px;
}


h1{
	font-size: 2.5em;
	width: 20em;
	background: red;
}

h2{
	font-size: 1.875em;
}
h3{
	font-size: 1.375em;
}
.intro{
	font-size: 1.25em;
}

section{
	background: red;
	width: 37.5em;
	height: 25em;
	margin:0 auto;
}
*/