*{
	box-sizing: border-box;
}

body{
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4em;
}

/*------------------------------
ANCHURA DEL SITIO
------------------------------*/

.contenedor{
	width: 980px;
	margin: 0 auto;
}

/*------------------------------
ENCABEZADO
------------------------------*/
.encabezado{
	background: #2c2c2c;
	overflow: hidden;
}

.logo{
	float: left;
    position: relative;
    top: 3px;
}

.logo img{
	width: 300px;
}


.encabezado nav{
	float: right;
}

.encabezado nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.encabezado nav ul li{
	display: inline-block;
	margin-right: -4px
}
.encabezado nav ul li a{
	display: block;
	color: #fff;
	padding: 16px;
	border-left: 1px solid #696969;
	text-decoration: none;
}
.encabezado nav ul li a:hover{
	background: #575757;
}


/*------------------------------
ENCABEZADO
------------------------------*/
.presentacion{
	overflow: hidden;
	background: radial-gradient(280px at 25% 10%, #a3d4ff, #0460ad);
	border-bottom: 3px solid #044e8b;
}

.introduccion-presentacion{
	float: left;
}

.introduccion-presentacion h1{
	color: #ffff;
	font-size: 2.625em; /*42px*/
	text-shadow: 1px 1px 0px #090909;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 40px;
	margin-left: 7px;
	line-height: 0.7em;
	
}

.introduccion-presentacion h1 span{
	color: #ffff;
	font-size: 0.380952380952381em; /*16px*/
	
}

.presentacion img{
	float: right;
	position: relative;
	height: 271px;
	margin-top: 32px;

}

a.aprender-mas {
	font-size: 2.1875em; /*35px*/
	border: 1px solid #0d5c25;
	padding: 30px 50px;
	background: blue;
	display: block; 
	text-align: center;
	margin: 10px 40px 55px;
	color: #fff;
	text-shadow: 1px 1px 0 #000;
	border-radius: 10px;
	background: linear-gradient(to top, #319b41, #21c653);
	box-shadow: 0 8px 0 0 #20732f, 
				0 0 25px 5px #fff;
}
a.aprender-mas:hover {
background: linear-gradient(to top,#319b41, #42ff7b);
}


/*------------------------------
ACCESO RÁPIDO
------------------------------*/

.acceso-rapido{
	background: #21bc4e;
	overflow: hidden;
	border-bottom: 3px solid #1c943f;
}

.acceso-rapido h2{
	color: #fff;
	font-size: 1.875em;
	text-shadow:1px 1px 0 #000;
	text-align: center;
	overflow: hidden;
	border-bottom: 3px solid #fff;
	padding-bottom: 16px;
}

.acceso-rapido figure{
	display: inline-block;
	text-align: center;
	width: 25%;
	margin: 0 -4px 0 0;
	padding: 0px
}

.acceso-rapido img{
	height: 5.625em;
}

.acceso-rapido h3{
	font-size: 2.1875em;
	margin-top: 15px;
	margin-bottom: 15px;
}

.acceso-rapido h3 a{
	color: #fff;
	text-shadow: 1px 1px 0 #000;
	font-weight: normal;

}
.acceso-rapido h3 a:hover{
	text-decoration: none;
}


/*------------------------------
BLOQUE CONTENIDO
------------------------------*/

.bloque-contenido{
	overflow: hidden;
}

.bloque-contenido .contenedor{
	display: table;
}


.articulos {
	background: #ffffff;
	width: 65%;
	display: table-cell;
}

.articulos article{
	margin-bottom: 20px;
}

.articulos h2{
	color: #34444444;
	font: 1.625em;
	border-bottom: 3px solid #0460ad;
	padding-bottom: 25px;
}


.articulos img{
	float: left;
	width: 140px;
	padding: 10px;
	position: relative;
	top: -7px;
	border-radius: 25px;
}

.articulos article h1{
	font-size: 1.25em;
	margin: 0 0 8px 0;
}


.articulos article h1 a{
	color: #444444;
	text-decoration: none;
}


.articulos article h1 a:hover{
	text-decoration: underline;
}


.articulos article p{
	margin: 0;
	font-size: 0.875em;
}
.comentario{
	background: blue;
	width:35%;
	display: table-cell;
}


