/* el color general del sitio se define en la etiqueta body */

body{
	background-image: url("../images/fondo.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1200px;
	background-color: blue;
	background-attachment: fixed;
	font-size: 16px;
}

p{
	background: red;
	padding: 2em 1.5em 1em 1.5em;
	border-top: 0.5em solid blue;
	border-right: 2em dashed yellow;
	border-bottom: 1em double green;
	border-left: 1em dotted orange;
/*	margin-top: 0px;

	margin-bottom: 0px;
	*/
	margin: 0px 3em 0px 3em;
	width: 500px;
	/* definir anchura mìnima y màxima del elemento */
	min-width: 200px;
	max-width: 500px;
	box-sizing: border-box;
}

div{
	background: yellow;
}